<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>

<table class="main">
    <tr class="header">
        <td height="80px">
            <!-- HEADER  -->
            <div th:replace="/include/header :: header"></div>
        </td>
    </tr>
    <tr class="upperMenu">
        <td height="25px">
            <!-- Upper Menu  -->
            <div th:replace="/include/upperMenu :: upperMenu"></div>
        </td>
    </tr>
    <tr>
        <td height="350px">
            <!-- Page content table -->
            <table class="content">
                <td width="100px">
                    <!--Left Side Menu  -->
                    <div th:replace="/include/adminLeftMenu :: adminLeftMenu"></div>
                </td>
                <td align="center">
                    <!--Main content  -->
                    <!--Add guest form  -->
                    <div class="description">Please enter the user data:</div>
                    <form action="#" th:action="@{/registerUser}" th:object="${user}" th:hidden="*{id}" method="post">

                        <!--  need to associate this data with customer id -->
<!--                        <input type="hidden" th:field="*{id}">-->
                        <table class="addGuestForm">
                            <tbody>
                            <tr>
                                <td><label>First name: </label></td>
                                <td><input type="text" th:field="*{firstName}">
                                    <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="error" th:errors="*{firstName}"/>
                                    </td>
                                <td />
                                <td><label>Last name: </label></td>
                                <td><input type="text" th:field="*{lastName}">
                                    <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"/>
                                </td>
                            </tr>

                            <tr>
                                <td><label>Login: </label></td>
                                <td><input type="text" th:field="*{login}">
                                    <p th:if="${#fields.hasErrors('login')}" th:errorclass="error" th:errors="*{login}"/>
                                </td>
                                <td />
                                <td><label>Password: </label></td>
                                <td><input type="text" th:field="*{password}">
                                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>
                                </td>
                            </tr>
                            <tr>
                                <td />
                                <td><label></label></td>
                                <td><input type="submit" value="Register" class="save" /></td>

                            </tr>

                            </tbody>
                        </table>
                    </form>
                </td>
                <td width="100px">
                    <!--Right Side Menu  -->

                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td height="25px">
            <!-- Footer  -->

        </td>
    <tr>
</table>

</body>
</html>